<div class="outer-container">
  <div class="inner-container">
    <div class="header">
      <h1>ngx-virtualscroll</h1>
      <!--<a routerLink="/about">about &#187;</a>-->
    </div>

    <div style="display: flex; flex-wrap: nowrap; gap: 10px; height: 100%">
      <div class="border-wrapper">
        <ngx-responsive-virtual-scroll
          [items]="dataToggle ? data$ : data2$"
          [type]="'grid'"
          [itemGap]="24"
          [stretchItems]="true"
          [scrollViewPadding]="24"
          [autoScrollOnResize]="true"
          [gridMaxColumns]="7"
          [gridItemWidth]="200"
          [rowHeight]="200"
          [renderAdditionalRows]="1"
        >
          <ng-template let-item let-row="row" let-column="column">
            <div class="cell">
              <div class="cell-content">
                <div class="cell-info">
                  <span>Row: {{ row }}</span
                  ><br />
                  <span>Column: {{ column }}</span>
                </div>
                {{ item }}

                <button (click)="handleClick()">click me</button>
                <img
               
                  [src]="'https://picsum.photos/seed/' + item + '/100/100'"
                  width="100px"
                />
                <div
                  style="
                    white-space: nowrap;
                    max-width: 100%;
                    min-width: 0px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  "
                >
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et
                  justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                  sea t
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-responsive-virtual-scroll>
      </div>

      <div
        *ngIf="expandSidebar"
        style="width: 350px; flex-shrink: 0; height: 100%"
      >
        <button (click)="dataToggle = !dataToggle">toggle.data</button>
        <button (click)="expandSidebar = false">collapse</button>
      </div>
    </div>
  </div>
</div>
